[core]
	autocrlf = input
[credential "https://github.com"]
  helper = !gh auth git-credential
[user]
	email = 20024592+agentzhao@users.noreply.github.com
  name = agentzhao
[init]
    templateDir = ~/.config/git/template/
[alias]
  s = status
  rao = remote add origin
  ac = !git add . && git commit -am
  url = remote get-url origin

  #branches
  co = checkout
  cob = checkout -b
  del = branch -D
  # list all branches
  branches = branch --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(contents:subject) %(color:green)(%(committerdate:relative)) [%(authorname)]' --sort=-committerdate

  # changes
  save = !git add -A && git commit -m 'save point'
  undo = reset HEAD~1 --mixed    # reset to last commit
  res = !git reset --hard        # hard reset to last save point
  done = !git push origin HEAD
  amend = !git commit --amend

  # logs
  last = git log -1 --stat
  changes = git show HEAD
  logs = !git log --pretty=format:\"%C(magenta)%h%Creset -%C(red)%d%Creset %s %C(dim green)(%cr) [%an]\" --abbrev-commit -30
